<div class="container mx-auto">
  <div class="max-w-1200 w-full">
    <!-- Post content -->
    <div class="post-content bg-white rounded-lg shadow-md p-6 mb-6">
      <!-- Post header -->
      <div class="post-header flex justify-between items-center mb-4">
        <!-- Post title -->
        <h1 class="text-xl font-bold">{{ post.title }}</h1>
        <!-- Post date -->
        <p class="text-sm text-gray-600">Posted on: {{ post.createdAt | date }}</p>
      </div>
      <!-- Post body -->
      <div class="post-body">
        <p>{{ post.content }}</p>
      </div>
    </div>

    <!-- Comments section -->
    <div class="comments-section">
      <h2 class="comments-title text-lg font-semibold mb-4">Comments</h2>

      <!-- Comment form -->
      <form class="comment-form mb-4" (submit)="addComment()">
        <div class="comment-form-row flex items-center">
          <input type="text" [(ngModel)]="newCommentContent" name="newCommentContent" placeholder="Enter your comment" class="border border-gray-300 rounded-md px-4 py-2 mb-4">
          <button type="submit" class="btn ml-3">Submit</button>
        </div>
      </form>

      <!-- Comment list -->
      <div class="comment-grid">
        <!-- Render comments -->
        <ng-container *ngFor="let comment of comments">
          <div *ngIf="!comment.parentCommentId" class="comment-container">
            <!-- Parent comment -->
            <div class="comment bg-white rounded-lg shadow-md p-4 mb-4 relative">
              <!-- Comment header -->
              <div class="header flex justify-between items-center mb-2">
                <p class="name font-bold">{{ comment.author.name }}</p>
                <p class="date text-sm text-gray-600">
                  <ng-container *ngIf="comment.updatedDate; else displayCreatedAt">
                    Edited on: {{ comment.updatedDate | date }}
                  </ng-container>
                  <ng-template #displayCreatedAt>
                    Posted on: {{ comment.createdAt | date }}
                  </ng-template>
                </p>
              </div>

              <!-- Content and icons row -->
              <div class="content-icons-row">
                <!-- Comment content -->
                <div *ngIf="updatingComment !== comment; else updateMode">
                  <p class="message">{{ comment.content }}</p>
                </div>
                <!-- Icons and update button container -->
                <div class="icons-update-container">
                  <!-- Icons row -->
                  <div class="icons-row">
                    <!-- Adjusted icons position -->


                    <button class="text-blue-500 hover:text-blue-700" (click)="likeComment(comment)">
                      <i class='icon bx bx-upvote' style='font-size:25px;'></i>
                    </button>

                    <span class="text-gray-600 px-2">{{ comment.likeCount }}</span>

                    <!-- Button to dislike post -->
                    <button class="text-red-500 hover:text-red-700" (click)="dislikeComment(comment)">
                      <i class='icon bx bx-downvote' style='font-size:25px;'></i>
                    </button>

                    <button>

                    <box-icon name='conversation' class="icon" (click)="addReplyToComment(comment)"></box-icon>
                    </button>
                    <!-- Add the click event to trigger the addReplyToComment function -->
                  </div>
                  <!-- Edit button -->
                  <button *ngIf="isCommentAuthor(comment)" class="ml-3" (click)="startUpdatingComment(comment)">
                    <box-icon name='edit-alt' color='#5265df'></box-icon>
                  </button>
                </div>
              </div>

              <ng-template #updateMode>
                <input *ngIf="updatingComment" type="text" [(ngModel)]="updatingComment.content" class="border border-gray-300 rounded-md px-4 py-2 mb-4">
                <button (click)="cancelUpdateComment()">Cancel</button>
                <button *ngIf="updatingComment" (click)="saveUpdatedComment(updatingComment)">Save</button>
              </ng-template>
            </div>

            <!-- Add reply section -->
            <div *ngIf="replyToComment === comment && replySectionOpen" class="reply-section">
              <input type="text" [(ngModel)]="newReplyContent" name="newReplyContent" placeholder="Type your reply here" class="border border-gray-300 rounded-md px-4 py-2 mb-4">
              <button type="button" class="btn ml-3" (click)="submitReply(newReplyContent, comment)">Submit Reply</button>
            </div>

            <!-- Nested comments -->
            <div class="nested-comments">
              <ng-container *ngTemplateOutlet="recursiveNestedComments; context: { $implicit: comment.replies }"></ng-container>
            </div>
            <!-- End of nested comments -->
          </div>
        </ng-container>
      </div>

      <!-- Recursive nested comments template -->
      <ng-template #recursiveNestedComments let-comments>
        <ng-container *ngFor="let comment of comments">
          <!-- Render each nested comment -->
          <div class="comment bg-white rounded-lg shadow-md p-4 mb-4 nested-comment relative">
            <!-- Nested comment content -->
            <div class="header flex justify-between items-center mb-2">
              <p class="name font-bold">{{ comment.author.name }}</p>
              <p class="date text-sm text-gray-600">
                <ng-container *ngIf="comment.updatedDate; else displayCreatedAt">
                  Edited on: {{ comment.updatedDate | date }}
                </ng-container>
                <ng-template #displayCreatedAt>
                  Posted on: {{ comment.createdAt | date }}
                </ng-template>
              </p>
            </div>
            <!-- Content and icons row -->
            <div class="content-icons-row">
              <!-- Comment content -->
              <div *ngIf="updatingComment !== comment; else updateMode">
                <p class="message">{{ comment.content }}</p>
              </div>
              <!-- Icons and update button container -->
              <div class="icons-update-container">
                <!-- Icons row -->
                <div class="icons-row">
                  <!-- Adjusted icons position -->

                  <button class="text-blue-500 hover:text-blue-700" (click)="likeComment(comment)">
                    <i class='icon bx bx-upvote' style='font-size:25px;'></i>
                  </button>

                  <span class="text-gray-600 px-2 ">{{ comment.likeCount }}</span>

                  <!-- Button to dislike post -->
                  <button class="text-red-500 hover:text-red-700" (click)="dislikeComment(comment)">
                    <i class='icon bx bx-downvote' style='font-size:25px;'></i>
                  </button>

                  <button>
                    <box-icon name='conversation' class="icon" (click)="addNestedReply(comment)"></box-icon>
                  </button>

                </div>
                <!-- Edit button -->
                <button *ngIf="isCommentAuthor(comment)" class="ml-3" (click)="startUpdatingComment(comment)">
                  <box-icon name='edit-alt' color='#5265df'></box-icon>
                </button>
              </div>
            </div>
            <ng-template #updateMode>
              <input *ngIf="updatingComment" type="text" [(ngModel)]="updatingComment.content" class="border border-gray-300 rounded-md px-4 py-2 mb-4">
              <button (click)="cancelUpdateComment()">Cancel</button>
              <button *ngIf="updatingComment" (click)="saveUpdatedComment(updatingComment)">Save</button>
            </ng-template>
          </div>
            <!-- Add reply section for nested comments -->
            <div *ngIf="replyToComment === comment && replySectionOpen" class="reply-section">
              <input type="text" [(ngModel)]="newReplyContent" name="newReplyContent" placeholder="Type your reply here" class="border border-gray-300 rounded-md px-4 py-2 mb-4">
              <button type="button" class="btn ml-3" (click)="submitReply(newReplyContent, comment)">Submit Reply</button>
            </div>

          
         
          <div class="nested-comments" *ngIf="comment.replies && comment.replies.length > 0">
            <!-- Recursively call the template for each level of nested comments -->
            <ng-container *ngTemplateOutlet="recursiveNestedComments; context:{ $implicit: comment.replies }"></ng-container>
          </div>
        </ng-container>
      </ng-template>





    </div>
    <!-- End of comments section -->
  </div>
</div>
